<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World</h1>

  <form method="post" action="/hello">
    好きな文字を入力
    <input type="text" name="text1" th:value="${text1}" />
    <input type="submit" value="クリックする">
  </form>

  <form method="post" action="/hello/db">
    従業員IDを入力
    <input type="text" name="text2" th:value="${text2}" />
    <input type="submit" value="クリックする">
  </form>
</body>
</html>